<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-12 col-md-4 col-sm-12 col-xs-12"> 
             <div class="card p-4">    
              
            
                  
                 <div class="d-flex flex-column temp mt-5 mb-3">
                     <h1 class="mb-0 font-weight-bold" id="heading"> {{results.Humidity}}%</h1>
                     <span class="small grey">Humidity</span>
                 </div>
                 
          
                  
    
              </div>
      </div>
  </div>
</div>